{

  "parser": "babel-eslint",
  "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
  },
  "rules": {
    "func-names": 0,
    "no-var": 0,
    "func-style": 0,
    "comma-dangle": 0,
    "valid-jsdoc": 0,
    "vars-on-top": 0,
    "complexity": [2, 6],
    "prefer-template": 0,
  },
  "globals": {
    "jasmine": false,
    "describe": false,
    "it": false,
    "beforeEach": false,
    "expect": false,
  },
  "plugins": ["angular"]
}
